# Node build artifacts
node_modules
npm-debug.log
# Local development
*.env
*.dev
.DS_Store
.setENV.cmd
herokuCommand
config/database.json
config/database.json.bak
debugger.xml
editor.xml
find.xml
ide.general.xml
project.default.xml
ui.lnf.xml
vcs.xml
.vs
# Docker
Dockerfile
docker-compose.yml
codestyles
_windows
.idea/workspace.xml
#