# Node build artifacts
node_modules
npm-debug.log

# Local development
*.env
*.dev
.DS_Store

# Docker
Dockerfile
docker-compose.yml

.setENV.cmd
herokuCommand
config/database.json
config/database.json.bak