# Node build artifacts
node_modules
npm-debug.log

# Local development
*.env
*.dev
.DS_Store
.setENV.cmd
herokuCommand
config/database.json
config/database.json.bak

# Docker
Dockerfile
docker-compose.yml
codestyles
_windows

